<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :first_name, placeholder: "First Name", autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.text_field :last_name, placeholder: "Last Name", autofocus: true %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm New Password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password" %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth, "Date of Birth" %>
    <%= f.date_field :date_of_birth %>
  </div>

  <p>Gender:</p>
  <% User.genders.keys.each do |option|%>
    <div class="field">
      <%= f.label "gender_#{option}".to_sym, option.titleize  %>
      <%= f.radio_button :gender, option %>
    </div>
  <% end %>

  <p>Do you want to be a Student or a Teacher?</p>
  <% User.roles.keys.each do |option| %>
    <div class="field">
      <%= f.label "role_#{option}".to_sym, option.titleize  %>
      <%= f.radio_button :role, option %>
    </div>
  <% end %>

  <p>What language(s) do you want to <span id="learn_teach">learn</span>?</p>
  <% @languages.each do |option| %>
    <div class="field">
      <%= f.label :languages, option.name  %>
      <%= f.radio_button :languages, option.id  %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city, "City:" %>
    <%= f.select :city, [["Sydney, Australia"]]  %>
  </div>

  <div class="form-group custom-file field">
    <%= f.label :picture, class: "custom-file-label" %>
    <%= f.file_field :picture, accept: "image/png, image/gif, image/jpeg, image/jpg", class: "custom-file-input" %>
  </div>

  <div class="field">
    <%= f.label :biography, "Tell us about you" %><br />
    <%= f.text_area :biography, placeholder: "Add some details about yourself.." %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
