<nav class="navbar navbar-light bg-light">
    <%= link_to "Lang.Up", home_path, class: "navbar-brand mb-0 h1" %>
</nav>
<h2>Create Account</h2>
<div class="view-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.text_field :first_name, placeholder: "First Name", autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= f.text_field :last_name, placeholder: "Last Name", autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, class: "sr-only" %>
        <%= f.email_field :email, placeholder: "Email Address", autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, placeholder: "Create Password", autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :date_of_birth, "Date of Birth:" %>
        <%= f.date_field :date_of_birth, class: "" %>
      </div>

      <div class="form-group field">
      <p>Gender:</p>
        <% @gender.each do |option|%>
            <%= f.label "gender_#{option}".to_sym, option.titleize  %>
            <%= f.radio_button :gender, option %>
        <% end %>
      </div>

      <div class="form-group field">
        <p>Do you want to be a Student or a Teacher?</p>
        <% @roles.each do |option| %>
            <%= f.label "role_#{option}".to_sym, option.titleize  %>
            <%= f.radio_button :role, option %>
        <% end %>
      </div>

      <div class="custom-control custom-radio">
        <p>What language(s) do you want to <span id="learn_teach">...</span>?</p>
        <% @languages.each do |language| %>
          <%= f.label :languages, language.name %>
          <%= f.radio_button :languages, language.id %>
        <% end %>
      </div>

      <div class="form-group field">
        <%= f.label :city, "City:" %>
        <%= f.select :city, [[@city]], class: "form-control"  %>
      </div>

      <div class="form-group custom-file field">
        <%= f.label :picture, class: "custom-file-label" %>
        <%= f.file_field :picture, accept: "image/png, image/gif, image/jpeg, image/jpg", class: "custom-file-input" %>
      </div>

      <div class="form-group field">
        <%= f.label :biography, "Tell us about you" %><br />
        <%= f.text_area :biography, placeholder: "Add some details about yourself..", class: "form-control" %>
      </div>

    <div class="actions">
      <%= f.submit "Create Account", class: "btn btn-outline-dark" %>
    </div>
  <% end %>
</div>

<p>Already have an account? <%= render "devise/shared/links" %> </p> 

<script>
  let student = document.getElementById("user_role_student")
  let teacher = document.getElementById("user_role_teacher")

  student.addEventListener("click",function(){
    document.getElementById("learn_teach").innerHTML = "Learn";
  });

  teacher.addEventListener("click",function(){
    document.getElementById("learn_teach").innerHTML = "Teach";
  });
</script>