<nav class="navbar navbar-light bg-light">
  <%= link_to "Lang.Up", home_path, class: "navbar-brand mb-0 h1 logo" %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-row">
      <div class="mr-sm-2 my-1">
        <%= f.label :email, "Username", class:"sr-only" %>
        <div class="input-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "form-control" %>
        </div>
      </div>

      <div class="mr-sm-2 my-1">
        <%= f.label :password, "Password", class: "sr-only" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>
      </div>

      <div class="col-auto my-1">
        <%= f.submit "Log in", class: "btn btn-outline-dark" %>
      </div>
    </div>
  <% end %>
</nav>
<div class="background-container">
    <div class="align-to-center">
        <h1> Join the Lang.Up Crew</h1> 
        <h3>Find a Teacher near you and start learning a language today!<h3>
        <div>
            <%= link_to "Create Account", new_user_registration_path, class: "btn btn-outline-light" %>
        </div>
    </div>
</div>