<div>
    <div class="rounded mx-auto d-block">
        <%= image_tag current_user.picture if current_user.picture.attached? %>
    </div>

    <div>
        <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
    </div>

    <div>
        <p><span>Location:</span> <%= current_user.city %></p>
    </div>

    <div>
        <% if current_user.role == "teacher" %>
            <p>Language I teach: <%= @user.language.name %></p>
        <% else %>
            <p>Language I am currently learning: <%= @user.language.name %></p>
        <% end %>
    </div>
    
    <div>
        <%= current_user.biography %>
    </div>
</div>