<div>
    <div class="rounded mx-auto d-block">
        
        <% if current_user.picture.attached? %>
            <%= image_tag current_user.picture %>
        <% else %>
            <%= image_tag("avatar.png", :alt => "default image") %>
        <% end %>
    </div>
    
    <div>
        <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
    </div>

    <div>
        <h6>Location:</h6> 
        <p><%= current_user.city %></p>
    </div>
<% unless @user_language == nil %>
    <div>
    
        <% if current_user.role == "teacher" %>
            <h6>Language I teach:</h6> 
            <p><%= @user_language.language.name %></p>
        <% else %>
            <h6>Language I am currently learning:</h6>
            <p><%= @user_language.language.name %></p>
        <% end %>
    </div>
    <% end %>
    <div>
        <%= current_user.biography %>
    </div>
</div>