<div>
    <div>
        <%= image_tag current_user.picture if current_user.picture.attached? %>
    </div>
    <div>
        <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
    </div>
    <div>
        <p>Location: <%= current_user.city %></p>
    </div>
    <div>
        <p>Languages I speak: <%= @user.language.name %></p>
    </div>
    <div>
        <%= current_user.biography %>
    </div>
</div>