<%= form_with model: @lesson, local:true do |form| %>
    <div> 
        <%= form.label :language_id, "Language"%>
        <%= form.select(:language_id, @languages.map {|l| [l.name, l.id] }, prompt: "Select language") %>
    </div> 
    <div>
        <%= form.label :body, "Lesson Focus" %>
        <%= form.text_area :body, placeholder: 'Put some details of your lesson here' %>
    </div>

    <div>
        <%= form.label :lesson_date, "Date" %>
        <%= form.date_field :lesson_date, min: Date.today %>
    </div>

    <div>
        <%= form.label :lesson_time, "Time" %>
        <%= form.time_field :lesson_time, min:"08:00", max:"20:00" %>

    </div>

    <div>
        <%= form.label :street %>
        <%= form.text_field :street, placeholder: "e.g. 10 King Street" %>
    </div>

    <div>
        <%= form.label :city %>
        <%= form.text_field :city, value: "Sydney"%>
    </div>

       <div>
        <%= form.label :state %>
        <%= form.text_field :state, value: "NSW"%>
    </div>

       <div>
        <%= form.label :country %>
        <%= form.text_field :country, value: "Australia" %>
    </div>

    <div>
        <%= form.label :postcode %>
        <%= form.text_field :postcode, placeholder: "2000" %>
    </div>

    <div>
        <%= form.label :price, "Ticket Price $" %>
        <%= form.number_field :price, in: 10..100, placeholder: 20 %>
    </div>

    <div>
        <%= form.label :max_students, "Max Students"%>
        <%= form.number_field :max_students, in: 5..30, placeholder: 15 %>
    </div>


   
    <div>
        <%= form.label :difficulty, "What is the level of difficulty?" %>
        <%= form.select(:difficulty,  @difficulty, prompt: "Select difficulty" )%>
   </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>