<h1> Find Your Lesson </h1>
        <% @lessons.each do |lesson| %>
                <div class="card border border-dark rounded">
                    <p>Date: <%= l lesson.lesson_date %></p>
                    <p>Time: <%= l lesson.lesson_time %></p> 
                    <p>Language: <%= lesson.language.name %></p> 
                    <p>Level of Difficulty: <%= lesson.difficulty %></p> 
                    <%= link_to "See Lesson Details", lesson_path(lesson.id)%>
                </div>
        <% end %>

